   body {
       font-family: 'Fraunces', serif;
       background-color: #FCF0EB;
       font-weight: 400;
       font-style: normal;
       color: #1732CC;
   }

   a {
       padding: 0;
       border: none;
       background: none;
       text-decoration: none;
       color: #1732CC;
       border-bottom: 1px solid #1732CC;
       outline: none;
       -webkit-transition: 0.3s all ease;
       transition: 0.3s ease all;
   }

   a:visited {
       color: #1732CC;
       border-bottom: 1px solid #1732CC;
       text-decoration: none;
       transition: all 0.2s linear;
   }

   a:hover {
       color: #F92900;
       border-bottom: 1px solid #F92900;
       text-decoration: none;
       transition: all 0.2s linear;
   }

   a:focus {
       color: #F92900;
       border-bottom: 1px solid #F92900;
       text-decoration: none;
       transition: all 0.2s linear;
   }

   ::selection {
       color: #F92900;
       background: #FCDDD1;
   }

   ::-moz-selection {
       color: #F92900;
       background: #FFF9F2;
   }


   .paddingxsmall {
       margin-top: 12px;
   }

   .paddingxxsmall {
       margin-top: 4px;
   }

.paddingxxxsmall {
       margin-top: 24px;
   }


   @media print,
   screen and (min-width: 40em) {

       .paddingsmall {
           margin-top: 56px;
       }

       .paddingmedium {
           margin-top: 80px;
       }

       .paddingbig {
           margin-top: 96px;
       }

   }

   @media print,
   screen and (max-width: 40em) {

       .paddingsmall {
           margin-top: 32px;
       }

       .paddingmedium {
           margin-top: 40px;
       }

       .paddingbig {
           margin-top: 72px;
       }

   }





   .padding56 {
       margin-top: 24px;
   }

   .social {
       margin-right: 16px;
   }

   .paddingfoo {
       margin-bottom: 40px;
   }

   .titulo {
       margin: 56px 0px 80px 0px;
   }

   .modalstyle {
       background-color: #FCF0EB;
       color: #1732CC;
   }



   .modalstylecred {
       color: #FFF9F2;

   }

   .barrita {
       border-top: 1px solid #F92900;
       width: 32px;
       margin-bottom: 12px;
   }

   .barritam {
       border-top: 1px solid #1732CC;
       width: 32px;
       margin-bottom: 12px;
   }



   .footer {
       color: #837B7B;
       font-family: reason-new, sans-serif;
       font-size: 14px;
       font-style: normal;
       font-weight: 500;
       line-height: 16px;
       letter-spacing: 0em;
   }

   a.footer {
       border-bottom: 1px solid #837B7B !important;
       color: #837B7B;
       text-transform: none;
       font-family: reason-new, sans-serif;
       font-size: 14px;
       font-style: normal;
       font-weight: 500;
       line-height: 16px;
       letter-spacing: 0em;
       text-align: right;
   }

   a.footer:hover {
       border-bottom: 1px solid #1732CC !important;
       color: #1732CC;
       text-transform: none;
   }

   a.footer:visited {
       border-bottom: 1px solid #837B7B !important;
       color: #837B7B;
       text-transform: none;
   }


   .email {
       opacity: 0;
       cursor: default;
   }

   .idioma {
       font-family: reason-new, sans-serif;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;
       line-height: 16px;
    
   }

p.idioma{
    
}

a.idioma {
       border-bottom: none !important;
       color: #837B7B;
       font-weight: 500;
       text-transform: none;
   }

   a.idioma:hover {
       border-bottom: 1px solid #1732CC !important;
       color: #1732CC !important;
       text-transform: none;
   }

   a.idioma:visited {
       color: #837B7B;
       text-transform: none;
   }

   .centertext {
       text-align: center;
   }

a.buttonhola {
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: reason-new, sans-serif;
       font-size: 18px;
       font-style: normal;
       font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FCF0EB;
    background-color: #1732CC;
    padding: 16px 16px;
     border: 1px solid #1732CC !important;
}

a.buttonhola:hover {
    color: #1732CC;
    background-color: #FCF0EB;
    border: 1px solid #1732CC !important;
}



 .mailto-link {
       position: relative;
   }

   .mailto-message { 
       font-family: reason-new, sans-serif;
       bottom: 0px;
       left: 0;
       margin-bottom: -8px;
       transform: translate(0%, 100%);
       position: absolute;
       display: none;
       width: auto;
       white-space: nowrap;
       font-size: 12px;
       background-color: black;
       color: white;
       padding: 4px 8px;
       border-radius: 2px;

       &:after,
       &:before {
           content: '';
       }

       &:before {
           top: 100%;
           left: 50%;
           border: solid transparent;
           height: 0;
           width: 0;
           position: absolute;
           pointer-events: none;
           border-color: rgba(0, 0, 0, 0);
           border-top-color: #000000;
           border-width: 4px;
           margin-left: -4px;
       }
   }

   .mailto-link:hover .mailto-message,
   .mailto-link:focus .mailto-message,
   .mailto-link:focus-within .mailto-message {
       display: block;
   }
