   body {
        font-family: font-family: mrs-eaves-xl-serif, serif;
        background-color: #FCF0EB;
        font-weight: 400;
        font-style: normal;
        color: #1732CC;
    }

    a {
        padding: 0;
        border: none;
        background: none;
        text-decoration: none;
        color: #1732CC;
        border-bottom: 1px solid #1732CC;
        outline: none;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s ease all;
    }

    a:visited {
        color: #1732CC;
        border-bottom: 1px solid #1732CC;
        text-decoration: none;
        transition: all 0.2s linear;
    }

    a:hover {
        color: #F92900;
        border-bottom: 1px solid #F92900;
        text-decoration: none;
        transition: all 0.2s linear;
    }

    a:focus {
        color: #F92900;
        border-bottom: 1px solid #F92900;
        text-decoration: none;
        transition: all 0.2s linear;
    }

    ::selection {
        color: #F92900;
        background: #FCDDD1;
    }

    ::-moz-selection {
        color: #F92900;
        background: #FFF9F2;
    }


    .paddingxsmall {
        margin-top: 12px;
    }

    .paddingxxsmall {
        margin-top: 4px;
    }


    @media print,
    screen and (min-width: 40em) {

        .paddingsmall {
            margin-top: 32px;
        }

        .paddingmedium {
            margin-top: 80px;
        }

        .paddingbig {
            margin-top: 120px;
        }

    }

    @media print,
    screen and (max-width: 40em) {

        .paddingsmall {
            margin-top: 32px;
        }

        .paddingmedium {
            margin-top: 40px;
        }

        .paddingbig {
            margin-top: 80px;
        }

    }





    .padding56 {
        margin-top: 24px;
    }

    .social {
        margin-right: 16px;
    }

    .paddingfoo {
        margin-bottom: 40px;
    }

    .titulo {
        margin: 56px 0px 80px 0px;
    }

    .modalstyle {
        background-color: #FCF0EB;
        color: #1732CC;

    }



    .modalstylecred {
        color: #FFF9F2;

    }

    .barrita {
        border-top: 1px solid #F92900;
        width: 32px;
        margin-bottom: 12px;
    }

    .barritam {
        border-top: 1px solid #1732CC;
        width: 32px;
        margin-bottom: 12px;
    }



    .footer {
        color: #837B7B;
        font-family: reason-new, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
    }

    a.footer {
        border-bottom: 1px solid #837B7B !important;
        color: #837B7B;
        text-transform: none;
        font-family: reason-new, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
    }

    a.footer:hover {
        border-bottom: 1px solid #1732CC !important;
        color: #1732CC;
        text-transform: none;
    }

    a.footer:visited {
        border-bottom: 1px solid #837B7B !important;
        color: #837B7B;
        text-transform: none;
    }

